@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 24 24 27;    /* Zinc 900 */
    --muted: 113 113 122;      /* Zinc 500 */
  }
  .dark {
    --background: 9 9 11;      /* Zinc 950 */
    --foreground: 250 250 250; /* Zinc 50 */
    --muted: 161 161 170;      /* Zinc 400 */
  }
  body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] antialiased transition-colors duration-300;
  }
}